.additional-goods__title {
  color: @black-text-color;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 27px;
  padding-bottom: 34px;
  margin: 0;
  position: relative;
}

.additional-goods__title::after {
  content: "";
  position: absolute;
  width: 53px;
  height: 0;
  border-bottom: 3px solid @base-color;
  top: 41px;
  right: -20px;
}

.additional-goods__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.additional-goods__item {
  border-bottom: 1px solid @separator-color;
  padding-bottom: 16px;
}

.additional-goods__item:first-child {
  border-top: 1px solid @separator-color;
}

.additional-goods__item-title {
  text-transform: uppercase;
  color: @text-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 8px;
}

.additional-goods__indicators {
  width: 288px;
  margin-left: -4px;
  margin-right: 0;
}

.additional-goods__price-cell {
  text-align: right;
}

.additional-goods__item--order-all {
  margin-top: 40px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 280px;
  height: 289px;
  border-bottom: none;
  margin-bottom: 34px;
  padding: 0;

  @media (min-resolution: @retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.additional-goods__text {
  color: @white;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 162px;
  min-height: 56px;
  padding: 0;
}

.additional-goods__gift-image {
  fill: @white;
  display: block;
  margin: 0 auto;
  padding: 63px 0;
}

@media (min-width: @tablet-width) {
  .additional-goods {
    padding-top: 40px;
  }

  .additional-goods__title {
    font-size: 36px;
    line-height: 30px;
    padding-left: 37px;
    padding-top: 30px;
  }

  .additional-goods__title::after {
    width: 327px;
    height: 0;
    border-bottom: 3px solid @base-color;
    top: 48px;
    right: -29px;
  }

  .additional-goods__title::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 0;
    border-bottom: 3px solid @base-color;
    top: 49px;
    left: -31px;
  }

  .additional-goods__list {
    margin-top: 48px;
  }

  .additional-goods__item {
    padding-top: 12px;
    padding-left: 38px;
    padding-right: 33px;
    padding-bottom: 27px;
    border-top: none;
    box-sizing: border-box;
    border-left: 1px solid #e8d8b1;
    border-bottom: 1px solid #e8d8b1;
    border-right: 1px solid #e8d8b1;
  }

  .additional-goods__item:first-child {
    border-top: 1px solid #e8d8b1;
  }

  .additional-goods__info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 17px;
  }

  .additional-goods__item-title {
    font-size: 20px;
    line-height: 20px;
  }

  .additional-goods__indicators {
    width: 250px;
    padding-top: 13px;
  }

  .additional-goods__type-cell {
    text-align: right;
  }

  .additional-goods__price-cell {
    width: 90px;
  }

  .additional-goods__item--order-all {
    width: 708px;
    padding: 0;
    padding-left: 90px;
    padding-right: 23px;
    margin-top: 69px;
    margin-bottom: 73px;
    border: none;
    background-size: 708px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    display: flex;
    justify-content: space-between;
    height: 200px;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .additional-goods__gift-image {
    display: block;
    padding: 0;
    padding-top: 65px;
    margin: 0;
    height: 61px;
  }

  .additional-goods__text {
    text-align: left;
    padding-top: 72px;
    padding-right: 100px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .additional-goods {
    padding-bottom: 86px;
    padding-top: 46px;
  }

  .additional-goods__title {
    padding-left: 0;
  }

  .additional-goods__title::after {
    width: 958px;
    height: 0;
    border-bottom: 2px solid @base-color;
    top: 52px;
    right: -110px;
  }

  .additional-goods__title::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 0;
    border-bottom: 2px solid @base-color;
    top: 52px;
    left: -110px;
  }

  .additional-goods__list {
    width: 895px;
    position: relative;
  }

  .additional-goods__item {
    border: none;
    border-bottom: 1px solid #e8d8b1;
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-top: 18px;
    padding-bottom: 13px;
  }

  .additional-goods__item:first-child {
    border-top: 1px solid #e8d8b1;
  }

  .additional-goods__info {
    padding: 0;
    padding-right: 33px;
    justify-content: space-between;
    width: 70%;
  }

  .additional-goods__item-title {
    line-height: 10px;
  }

  .additional-goods__indicators {
    padding-top: 8px;
    width: 293px;
  }

  .additional-goods__type-cell {
    text-align: left;
  }

  .additional-goods__price-cell {
    text-align: left;
    width: 45px;
  }

  .additional-goods__item--order-all {
    position: absolute;
    height: 289px;
    width: 245px;
    background-size: 245px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    bottom: 0;
    right: -325px;
    flex-direction: column;
    padding-bottom: 39px;
    margin: 0;
    right: -325px;
    top: 0;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .additional-goods__gift-image {
    margin-left: auto;
    margin-right: auto;
    padding-top: 48px;
  }

  .additional-goods__text {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
