.catalog__title {
  color: #111111;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left:22px;
  margin: 0;
  border-top: 1px solid  #e8d8b1;
  border-bottom: 1px solid  #e8d8b1;
}

.catalog__list {
  list-style: none;
  margin:0;
  padding:0;
}

.catalog__item {
  position:relative;
  padding-bottom:  25px;
  padding-top: 25px;
  border-bottom: 1px solid  #e8d8b1;
}

.catalog__img {
  position:absolute;
  top:10px;
  left: 20px;
}

.catalog__item-description {
  padding-left: 160px;
}

.catalog__position-title {
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  width: 72px;
  margin:0;
  padding:0;
  padding-bottom:16px;
}

.catalog__item--more {
  padding-top: 83px;
  padding-bottom: 25px;
}

.catalog__show-more {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding:0;
  margin:0;
}

.catalog__show-more::before,
.catalog__show-more::after {
  content:"";
  position: absolute;
}

.catalog__show-more::before {
  border-bottom: 2px solid rgba(34, 34, 34, 0.2);
  width: 31px;
  height: 2px;
  top:-42px;
  left:145px;
}

.catalog__show-more::after {
  border-left: 2px solid rgba(34, 34, 34, 0.2);
  width: 2px;
  height: 31px;
  top:-55px;
  right:157px;
}

.catalog__more-tastes {
  font-family: "ArialMT", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
  text-align: center;
}

.catalog__button--show-all{
  background-color:#f2f2f2;
  color:#444444;
  text-align: center;
}
