.copyright {
  display: flex;
}

.copyright__link {
  text-decoration: none;
  color: @light-text-color;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  position: relative;
  padding-top: 31px;
  padding-bottom: 28px;
}

.copyright__htmlacademy-logo {
  margin-left: 112px;
  position: absolute;
  top: 19px;
  right: -173px;
}

@media (min-width: @tablet-width) {
  .copyright__htmlacademy-logo {
    top: 17px;
    right: -58px;
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    padding-top: 10px;
  }
}
