.page-footer {
  text-align: center;
}

.page-footer__logo {
  padding-top: 60px;
  text-align: center;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: @tablet-width;
    margin-left: -30px;
    display: flex;
    background-color: @gray-background;
    padding-left: 35px;
    min-height: 140px;
  }

  .page-footer__copyright {
    padding-top: 33px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: @desktop-width;
    margin-left: -110px;
    padding-left: 110px;
    box-sizing: border-box;
  }
}
