.program-selection {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  padding-top: 29px;
}

.program-selection__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}

.program-selection__tagline {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 1.5em;
  padding-bottom: 2em;
}

.program-selection__button {
  color: #ffffff;
  background-color: #68b738;
  font-size: 14px;
  line-height: 18px;
}
