.program-selection {
  background-image: url("../img/index-background-mobile@1x.jpg");
  width: 320px;
  background-repeat: no-repeat;
  color: @white;
  text-align: center;
  font-weight: 400;
  padding-top: 28px;
  margin-left: -20px;
}

.program-selection__title {
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}

.program-selection__tagline {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 2em;
}

.program-selection__button {
  color: @white;
  background-color: @base-color;
  font-size: 14px;
  line-height: 18px;
}
