.site-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.site-list__item {
  border-top: 1px solid @separator-color;
  width: 100%;
  text-align: center;
}

.site-list__link {
  display: block;
  text-decoration: none;
  color: @black-text-color;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 20px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}
