.site-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.site-list__item {
  border-top: 1px solid @separator-color;
  width: 320px;
  margin-left: -20px;
  text-align: center;
}

.site-list__item:last-child {
  border-bottom: 1px solid @separator-color;
}

.site-list__link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 22px;
  padding-bottom: 23px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: @black-text-color;
}

@media (min-width: @tablet-width) {
  .site-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: @tablet-width) {
  .site-list__item {
    border-top: none;
    width: auto;
    margin-left: 37px;
  }
}

@media (min-width: @tablet-width) {
  .site-list__item:last-child {
    border: none;
  }
}

@media (min-width: @tablet-width) {
  .site-list__link {
    color: @text-color;
  }
}

@media (min-width: @desktop-width) {
  .site-list__link {
    color: @white;
  }
}
