.social {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 22px;
  border-top: 1px solid @separator-color;
  border-bottom: 1px solid @separator-color;
}

.social__link {
  fill: #666666;
}
